@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

body{
    background-color: #212529;
    color: #fff;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider {
    display: flex;
    width: 640px;
    flex-direction: column;
    align-items: center;
    /* overflow: hidden; */
}

.slider__wrapper {
    /* display: flex;
    align-items: center; */
}

.slider__slide {
    width: 100%;
}

.slider__slide-image {
    width: 640px;
    max-height: 400px;
    object-fit: cover;
}

.slider__slide-content {}

.slider__slide-text {
    max-width: 50%;
    font-weight: 700;
    font-size: 1rem;
}

.slider__controls {
    display: flex;
    gap: 0.3rem;
    align-items: center;
    align-self: flex-end;
    transform: translate(-1rem, -3.3rem);
}

.slider__controls span {
    width: 0.2rem;
    height: 0.2rem;
    border-radius: 50%;
    background-color: transparent;
    border: 1px solid white;
    padding: 5px;
}

.slider__controls span.active{
    background-color: white;
}
